.searchProductsWrapper {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-left: 40px;
}

.searchInput {
  border-radius: 20px;
  width: 330px;
  background: var(--background-main);
  color: var(--text-color);
  border: 1px solid var(--button-border-third);
  text-indent: 20px;
  font-weight: 100;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 40px;
  background: var(--main-red);
  width: 40px;
  border-radius: 20px;
}

.searchBarRight {
  display: flex;
  align-items: center;
}

.categoryButton {
  background-color: var(--background-main);
  color: var(--button-text-secondary);
  border-radius: 50px;
  border: 1px solid var(--button-border-third);
}

.categoryButtonActive {
  color: var(--text-color-header);
  border-radius: 50px;
  background-color: var(--main-red);
}

@media screen and (min-width: 720px) {

  .searchInput {
    width: 275px;
  }

  .searchProductsWrapper {
    margin-left: 55px;
  }
}
