.cartButton {
  background: none;
  display: flex;
  width: 50px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 17px;
  height: 17px;
  background: var(--icon-color);
  color: var(--icon-text-color);
  position: relative;
  z-index: 999;
  top: -5px;
  right: 11px;
  border-radius: 50px;
  user-select: none;
}
