.footerBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background: var(--background-main);
  color: var(--text-color);
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 85%;
  max-width: var(--max-mobile-width);
}

.iconsBlock {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.orangeLink {
  color: var(--main-red);
}

.orangeLink:hover {
  color: var(--hover-red);
}

.line {
  border-top: solid 1.5px var(--main-line);
  width: 85%;
  margin-top: 40px;
}

@media only screen and (min-width: 720px) {

  .footerInfo {
    margin-top: 55px;
    max-width: var(--max-desktop-width);
  }

  .line {
    max-width: 90%;
    width: 100%;
    margin-top: 50px;
  }
}
