.footerBlock {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  background: var(--background-main);
  color: var(--text-color);
}

.footerInfo {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.iconsBlock {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.orangeLink {
  color: var(--main-red);
}

.orangeLink:hover {
  color: var(--hover-red);
}

.line {
  border-top: solid 1.5px var(--gray-2);
  width: var(--mobile-width);
}

@media only screen and (min-width: 720px) {

  .footerInfo {
    margin-top: 55px;
    max-width: 1175px;
  }

  .line {
    width: 1150px;
  }
}
