@import "normalize.css";

:root {
  --main-red: #EF4934;
  --hover-red: #D43824;
  --darkest-gray: #111;
  --white: #FEFEFE;
  --gray: #333;
  --gray-2: #585858;
  --gray-3: #CCC;
  --gray-4: #E1E1E1;
  --white-hover: #F1F1F1;
  --dark-hover: #656565;
  --max-desktop-width: 1300px;
  --max-mobile-width: 400px;
}

html[theme="dark"] {
  --background-header: var(--darkest-gray);
  --background-main: var(--darkest-gray);
  --text-color: var(--white);
  --text-color-header: var(--white);
  --text-color-placeholder: var(--gray-2);
  --icon-color: var(--main-red);
  --icon-text-color: var(--white);
  --item-border-color: var(--gray);
  --button-background-main: var(--gray);
  --button-hover-main: var(--dark-hover);
  --button-background-secondary: var(--main-red);
  --button-border-secondary: var(--main-red);
  --button-text-secondary: var(--white);
  --button-background-third: var(--gray);
  --button-border-third: var(--gray-2);
  --main-line: var(--dark-hover);
}

html[theme="light"] {
  --background-header: var(--darkest-gray);
  --background-main: var(--white);
  --text-color: var(--darkest-gray);
  --text-color-header: var(--white);
  --text-color-placeholder: var(--gray-2);
  --icon-color: var(--main-red);
  --icon-text-color: var(--darkest-gray);
  --item-border-color: var(--gray-3);
  --button-background-main: var(--gray);
  --button-hover-main: var(--white-hover);
  --button-background-secondary: var(--darkest-gray);
  --button-border-secondary: var(--gray-2);
  --button-text-secondary: var(--gray-2);
  --button-background-third: var(--white);
  --button-border-third: var(--gray-4);
  --main-line: var(--gray-3);
}
