.aboutMeBlock {
  display: flex;
  justify-content: center;
  background: var(--background-main);
  color: var(--text-color);
}

.aboutMeInfo {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 30px;
  margin: 30px;
}

.aboutMeAvatar {
  border-radius: 40px;
  height: 294px;
  width: 100%;
  object-fit: cover;
}

.aboutMeHeader {
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 700;
}

.aboutMeDescription {
  margin-bottom: 32px;
  line-height: 19.5px;
}

/*
  The following media queries are for the desktop version of the site (720/900/1024+).
*/
@media only screen and (min-width: 720px) {

  .aboutMeInfo {
    flex-direction: row-reverse;
    max-width: 1175px;
    gap: 100px;
    margin: 60px;
  }

  .aboutMeHeader {
    margin-bottom: 40px;
    font-size: 36px;
  }

  .aboutMeDescription {
    line-height: 32px;
    margin-bottom: 32px;
    font-size: 22px;
  }

  .aboutMeAvatar {
    margin-top: 80px;
    height: 294px;
    width: 350px;
  }
}

@media screen and (min-width: 900px) {

  .aboutMeAvatar {
    height: 389px;
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {

  .aboutMeAvatar {
    height: 489px;
    width: 500px;
  }
}
